.footer{
  background-color: #386680;
  // background-image: url('../../img/footerbg.png');
  // background-repeat: no-repeat;
  // background-size:150%;
  // background-position: -80px 40px;
  padding: rem-calc(100) 0 0 0;

  span{
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
    font-size: rem-calc(10);
    text-align: center;
    color: $white;
    margin-bottom: rem-calc(20);
        a{
          color: $white;
        }
  }

  .email{
    text-align: justify;
    padding-left: rem-calc(108);
  }

  .footer-nav{
    ul{
      max-width: 320px;
      list-style-type: none;
      margin: 0;
      text-align: center;
      li{
        flex: 1;
        font-size: rem-calc(10);
        margin-bottom: rem-calc(5);
      }

      a{
        color: #7aa7c0;
      }
    }

  }
}
