.footer{
  background-color: #386680;
  padding: rem-calc(50) 0 rem-calc(20) 0;
  @include bp(tablet){
  background-image: url('../../img/footerbg.png');
  background-repeat: no-repeat;
  background-size:120%;
  background-position: -80px 40px;
  padding: rem-calc(150) 0 rem-calc(20) 0;
  }
  @include bp(desktop){
  background-size: 100%;
  background-position: 0 rem-calc(80);
  padding: rem-calc(225) 0 rem-calc(10) 0;
  }
  @include bp(wide){
  background-size: stretch;
  background-position: 0 rem-calc(100);
  padding: rem-calc(320) 0 rem-calc(10) 0;
  }
  span{
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
    font-size: rem-calc(10);
    text-align: center;
    color: $white;
    margin-bottom: rem-calc(20);
    letter-spacing: rem-calc(1.5);
    @include bp(wide){
    font-size: rem-calc(12);
    }
    a{
      color: $white;
    }
  }
  .email{
    text-align: justify;
    padding-left: rem-calc(95);
    @include bp(tablet){
    padding-left: rem-calc(320);
    }
    @include bp(desktop){
    padding-left: rem-calc(432);
    }
    @include bp(wide){
    padding-left: rem-calc(612);
    }
  }
  .footer-nav{
    margin: rem-calc(40) 0 rem-calc(20) 0;
    @include bp(tablet){
    margin: rem-calc(20) 0 rem-calc(0) 0;
    }
    @include bp(desktop){
    margin: rem-calc(30) 0 rem-calc(30) 0;
    }
    @include bp(wide){
    margin: rem-calc(50) 0 rem-calc(50) 0;
    }
    ul{
      // max-width: 320px;
      list-style-type: none;
      margin: 0;
      text-align: center;
      @include bp(tablet){
      display: flex;
      padding: rem-calc(0) rem-calc(150);
      }
      @include bp(desktop){
      padding: rem-calc(0) rem-calc(250);
      }
      @include bp(wide){
      padding: rem-calc(0) rem-calc(450);
      }
      li{
        font-size: rem-calc(12);
        margin: rem-calc(15) 0 rem-calc(5) 0;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: rem-calc(1.5);
        @include bp(tablet){
        flex: 1 1 0;
        }
        @include bp(wide){
        font-size: rem-calc(14);
        }
      }
      a{
        color: #7aa7c0;
      }
    }
  }
  p{
    text-align: center;
    font-size: rem-calc(9);
    margin: rem-calc(40) 0 rem-calc(0) 0;
    letter-spacing: rem-calc(1.5);
    padding: 0;
    @include bp(tablet){
    margin: rem-calc(30) 0 rem-calc(0) 0;
    }
    @include bp(desktop){
    margin: rem-calc(0) 0 rem-calc(0) 0;
    }
    @include bp(wide){
    font-size: rem-calc(12);
    padding-left: rem-calc(40);
    }
  }
}
