.header{
  background-color:  #386680;
  display: flex;
  .logo{
    flex: 4;
    color: white;
    @include bp(tablet){
    flex: 1;
    }
    img{
      margin: rem-calc(20) rem-calc(10);
      @include bp(tablet){
      margin: rem-calc(30) rem-calc(10) rem-calc(10) rem-calc(30);
      width: 50%;
      }
      @include bp(desktop){
      margin: rem-calc(30) rem-calc(10) rem-calc(10) rem-calc(10);
      width: 85%;
      }
    }

  }
  .contact-info{
    display: none;
    @include bp(desktop){
    display: flex;
    flex: 2 1 0;
    }
    span{
      color: #7aa7c0;
      font-size: rem-calc(11);
      font-family: 'Fjalla One', sans-serif;
      font-weight: 100;
      @include bp(desktop){
      flex: 1 1 0;
      padding: rem-calc(40) 0 0 rem-calc(40);
      }
    }
    a{
      color: #7aa7c0;
    }
  }
  .icon{
    flex: 1;
    cursor: pointer;
    padding: rem-calc(30) 0 0 rem-calc(20);
    @include bp(tablet){
    display: none;
    }
    .bar1, .bar2, .bar3{
      @include bar();
    }
  }
  .nav{
    display: none;
    @include bp(tablet){
    display: flex;
    flex: 2;
      ul{
        list-style-type: none;
        flex: 1;
        display: flex;
        padding-top: rem-calc(40);
      }
      li{
        flex: 1 1 0;
        text-align: center;
      }
      a{
        font-size: rem-calc(14);
        font-family: 'Fjalla One', sans-serif;
        color: #7aa7c0;
        @include bp(desktop){
        font-size: rem-calc(11);
        }
      }
      a:hover{
        padding-bottom: 8px;
        border-bottom: solid 1.5px white;
        color: $white;
      }
    }
    @include bp(desktop){
    flex: 3 1 0;
    padding-left: rem-calc(20);
    }
  }
}
.mob-nav{
  display: none;
  background-color: #386680;
  padding-bottom: rem-calc(20);
  padding-top: rem-calc(20);
  @include bp(tablet){
  display: none;
  }
  ul{
    list-style-type: none;
    text-align: center;
  }
  li{
    margin-bottom: rem-calc(20);
    font-size: rem-calc(13);
    font-family: 'Fjalla One', sans-serif;
  }
  a{
    color: #7aa7c0;
  }
  a:hover{
    padding-bottom: 8px;
    border-bottom: solid 1.5px white;
    color: $white;
  }
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
  background-color:$black;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -3px) ;
  background-color:$black;
}
