.hero{
  background-color: #386680;
  padding: rem-calc(40) rem-calc(50) rem-calc(170) rem-calc(70);
  background-image: url('../../img/hero_bg.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: rem-calc(15) rem-calc(270);
}

h1{
  color: $white;
  font-size: rem-calc(26);
  font-family: 'Fjalla One', sans-serif;
}

p{
  font-size: rem-calc(9);
  color: #7aa7c0;
  margin-left: rem-calc(3);
  padding-right: rem-calc(10);
  font-family: 'Fjalla One', sans-serif;
  font-weight: lighter;
}
