.hero{
  background-color: #386680;
  padding: rem-calc(40) rem-calc(50) rem-calc(170) rem-calc(70);
  background-image: url('../../img/hero_bg.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: rem-calc(15) rem-calc(270);
  @include bp(tablet){
  padding: rem-calc(80) rem-calc(50) rem-calc(230) rem-calc(70);
  background-size: 60%;
  background-position: rem-calc(150) rem-calc(330);
  }
  @include bp(desktop){
  padding: rem-calc(100) rem-calc(50) rem-calc(300) rem-calc(70);
  background-size: 60%;
  background-position: rem-calc(180) rem-calc(455);
  }
}

h1{
  color: $white;
  font-size: rem-calc(26);
  font-family: 'Fjalla One', sans-serif;
  @include bp(tablet){
  padding: rem-calc(0) rem-calc(225);
  }
  @include bp(desktop){
  font-size: rem-calc(40);
  padding: rem-calc(0) rem-calc(290);
  margin: 0 0 rem-calc(20) 0;
  }
}

p{
  font-size: rem-calc(9);
  color: #7aa7c0;
  margin-left: rem-calc(3);
  padding-right: rem-calc(10);
  font-family: 'Fjalla One', sans-serif;
  font-weight: lighter;
  @include bp(tablet){
  padding: rem-calc(0) rem-calc(230);
  margin-left: 0;
  }
  @include bp(desktop){
  font-size: rem-calc(13);
  padding: rem-calc(0) rem-calc(305) 0 rem-calc(295);
  }
}
