.our-services{
  text-align: center;
  padding:rem-calc(50) rem-calc(5) rem-calc(0) rem-calc(5);
  h3{
    color: #386680;
    font-size: rem-calc(25);
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
  }
  p{
    color: #888888;
    font-size: rem-calc(9);
    font-family: 'Fjalla One', sans-serif;
    padding-right: 0;
    font-weight:50;
  }

  .services{
    padding: rem-calc(40) 0;

    .transports{
      margin-bottom: rem-calc(60);
      img{
        margin-bottom: rem-calc(15);
      }

      h6{
        color: #386680;
        font-size: rem-calc(14);
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: rem-calc(1.5);
      }

      p{
        color: #aaaaaa;
        font-size: rem-calc(9);
        letter-spacing: rem-calc(1.5);
        font-family: 'Fjalla One', sans-serif;
      }

      a{
        background-color: $white;
        color: #386680;
        border: solid 2px #386680;
        font-size: rem-calc(10);
        margin-top: rem-calc(15);
        font-weight: bold;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: rem-calc(2);
        font-weight: lighter;
        padding: rem-calc(8) rem-calc(13);
      }

      a:hover{
        background-color: #386680;
        color: $white;
      }

    }

  }
  p{
    color: #888888;
  }
}
